menu{
  background: rgb(83, 83, 83);
  padding: 0;
  margin: 0;
}

menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

menu ul li a {
  display: block;
  color: rgb(17, 0, 255);
  text-decoration: none;
  padding: 10px 15px;
}
